@import "global-variables";
/*===OBJECTS===*/
.icon {
	max-width: 72px;
}

/*===UTILITIES===*/
.is-hidden--desktop {
	display: none;
}


/*=====LANDING=====*/
.hero {
	background: url('../img/landing-desktop.jpg') no-repeat center center;
	background-size: cover;
	height: calc(100vh - 55px);
	position: relative;
}
.island--hero {
	width: 62%;
}
.section--header {
	padding-bottom: 10rem;
}


/*=====INFO=====*/
.parallax .container {
	transform: translateY(40%);
}

/*=====ACTIVITIES=====*/
.activities {
	@include media;
	flex-wrap: wrap;
}
.activity {
	flex-basis: 400px;
}
.island {
	height: 25%;
}


/*=====EXAMPLE=====*/
.section.example {
	box-sizing: border-box;
	max-width: 960px;
	padding: 0 6%;
}
@media(min-width: 550px){
	.card {
		height: 50rem;
	}
}
@media(min-width: 800px){
	.card {
		height: 40rem;
	}
}
.card-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.card-tabbed {
	flex-basis: 45%;
}
.card-tabbed > .tab {
	width: 26%;
	margin-right: 5%;
}
.card-content {
	height: 40rem;
}


/*=====PRICING=====*/
.pricing .card {
	padding-top: 5rem;
}

/*=====BLOG=====*/
.blog img {
	max-width: 100%;
}	

/*===FOOTER===*/
.copyright {
	padding-left: 10%;
}
