@import "global-variables";
/*===OBJECTS===*/
.icon {
	max-width: 48px;
	margin-right: 2rem;
}


/*=====UTILITIES=====*/
.is-hidden--mobile {
	display: none;
}


/*=====BANNER=====*/
.banner-left {
	width: 60%;
	margin-bottom: 0.5rem;
}
.banner-right {
	width: 30%;
}
.banner-left, 
.banner-right {
	display: inline-block;
}

/*===LANDING===*/
.hero {
	background: url('../img/landing-mobile.jpg') no-repeat center center;
	background-size: cover;
	height: calc(100vh - 55px);
}

.island--hero {
	width: 36rem;
}


/*===ACTIVITIES===*/

.tab, .tab--large {
	margin-right: 5%;
}
.tab {
	width: 25%;
}
.tab--large {
	width: 100%;
}

/*===EXAMPLE===*/	
.section.example {
	padding: 0 7.5%;
}
/*===FOOTER===*/

