@import "compass";
//color pallete from: http://paletton.com/#uid=33s0u0kesVS00++5BZDlZS-vsRH
$dark-text: #011722;//deep color of primary color
$light-text: #f3fafe;//brightest 'bright pastel'
$primary-color: #89cef0;
$primary-light: #D1edfb;
$primary-dark: #0F9EE4;
$contrast-color: #ff7450;
$contrast-light: #FFDCD2;
$contrast-dark: #FF3904;
$compliment-color: #ffdf8c; 
$primary-grey-dark: #505F66;
$primary-grey-light: #C3B2AE;
@media (min-width: 550px) {
	body {
		background-image: url("../../assets/img/paisley.png");
	}
}
.section {
	background-color: white;
}
.header {
	background: linear-gradient( to bottom, $primary-color, $primary-color 3.0rem, white 3.0rem);
}
.button.button-primary {
	border-color: $contrast-color;
}
.button.button-primary:hover {
	background-color: darken($contrast-color, 10%); 
}

%island-background {
	content: "";
	position: absolute;
	bottom: 0;
	display: block;
	height: 100%;
	width: 100%;
}
.island--hero.primary:before {
	@extend %island-background;
	background-color: rgba($primary-color, 0.5);
}
.island.primary:before {
	@extend %island-background;
	background-color: rgba($primary-color, 0.5);
}
.island.contrast:before {
	@extend %island-background;
	background-color: rgba($contrast-color, 0.5);
}
.island.compliment:before {
	@extend %island-background;
	background-color: rgba($compliment-color, 0.5);
}
.card, .card-content {
	background-color: #eee;
} 
.tab, 
.tab--large {
	background-color: $primary-color;
}
.tab.focus, 
.tab--large.focus, 
.contact, .circle, 
.button.button-primary {
	background-color: $contrast-color;
}
.footer, 
.footer hr,
.copy {
	background-color: $primary-grey-dark;
}

.header, 
.hero, 
.island--hero h5, 
a, 
.button, 
.parallax, 
.parallax h3, 
.activity, 
.footer, 
.footer h2,
.copyright {
	color: $light-text;
}
.info, 
.info .example, 
.pricing, 
.blog  {
	color: $dark-text;
}
a {
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	color: $dark-text;
}

